<!-- 2nd page -->
<div class="vw_container" id="container_2">
  <h1 id="words">
    I'm the <span style="color: #0ef">web</span>
    <span
      style="
        background: radial-gradient(circle, red, yellow);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
      "
      >Developer</span
    >
  </h1>
</div>
