<!-- 3rd page of portfolio -->
<div class="vw_container" id="container_3">
  <div class="inside_container">
    <div id="first" class="about_container">sdf</div>
    <div id="second" class="about_container">sdf</div>
  </div>
</div>
