<!-- 3rd page of portfolio -->
<div class="vw_container" id="container_3">
  <div class="inside_sticky_container">
    <div id="first" class="about_container">
      A web developer with a Bachelor’s degree in Computer Applications (BCA).
      Over the years, I’ve worked as a Software Engineer and Web Developer
      across multiple companies, building and maintaining websites, backend
      systems, and user-focused applications.
    </div>

    <div id="second" class="about_container">
      Skilled in HTML, CSS, JavaScript, jQuery, Bootstrap, Tailwind CSS, React,
      PHP, and SQL, along with experience in databases like MySQL and MongoDB. I
      also work with WordPress, Shopify, and modern tools like Git, GitHub,
      Firebase, and Figma to deliver responsive, high-quality solutions.
    </div>

    <div id="third" class="about_container">
      Through self-directed learning, primarily using resources from YouTube,
      I’ve completed numerous projects that showcase my creativity and technical
      expertise. Each project has been an opportunity to deepen my understanding
      of web technologies and design principles.
    </div>

    <div id="fourth" class="about_container">
      I’ve contributed to real-world projects in finance, immigration, and tech
      industries optimizing performance, designing dynamic web apps, and
      collaborating with teams to deliver on time. My projects range from
      encryption tools to interactive portfolios, showcasing creativity and
      technical depth.
    </div>

    <div id="fifth" class="about_container">
      If you're curious about my skills and capabilities, take a look at this
      project! I created these effects using only pure HTML, CSS, and JavaScript
      (no external APIs or libraries involved). This project showcases my
      ability to leverage fundamental web technologies to create engaging and
      dynamic user experiences
    </div>
  </div>
</div>
