<!-- 4th page of portfolio -->
<div class="vw_container" id="container_4">
  <div class="cards_playground">
    <div class="cards" id="first_card">
      <img src="<%= data.project_img[0] %>" alt="first_project" />
      <h2>Ubuntu inspired Portfolio</h2>
    </div>
  </div>
</div>
