<%- include("header.ejs") %>
<body>
  <h2>Here is the post you asked for</h2>

  <p>Post id: <%= post.id %></p>

  <!-- container for the specific post -->
  <div class="container">
    <h2 class="user">@<%=post.username%></h2>
    <p class="desc"><%=post.desc%></p>
    <a href="/"><span>See in detail</span></a> ||
    <a href="/"><span>Edit post </span></a>
  </div>

  <a href="/">Back to All Posts</a>
</body>
