* {
  box-sizing: border-box;
}
body {
  background-color: black;
  color: white;
}
/* the main heading in red color */
h1 {
  color: red;
}
/* the box that contains the information of each post and about that person */
.container {
  border: 1px solid black;
  background-color: rgb(41, 37, 37);
  color: white;
  padding: 10px;
  width: 60%;
  margin: 25px;
}

.user {
  font-weight: bold;
}
.desc {
  margin: 10px 25px;
}
a {
  color: aqua;
}
button {
  background-color: black;
  color: red;
  font-size: 15px;
  padding: 10px;
  cursor: pointer;
}
