* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
  padding: 20px;
  color: white;
  overflow-x: hidden;
}
#personal_img {
  width: 500px;
  /* position: absolute;
  right: 0;
  bottom: 0; */
}

/* container 1 */
.vw_container {
  width: 100vw;
  height: 100vh;
  border-bottom: 1px solid grey;
}

#container_1 {
  display: flex;
  flex-direction: row;
}

#semi_container_1_1 {
  flex: 0 0 40%;
  text-align: center;
  justify-content: center;
  height: 100vh;
  background-color: grey;
}
#semi_container_1_2 {
  flex: 1;
}
